.subMenu{
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: absolute;
    z-index: 1000;
    user-select: none;
}

.subMenu a{
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
